version: '3.8'

services:
  # POSTGRES DATABASE FOR USERS
  db-user:
    container_name: db-users
    image: postgres:15.2
    restart: unless-stopped
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5431:5432
    expose:
      - 5432

  # POSTGRES DATABASE FOR TRANSACTIONS
  db-transactions:
    container_name: db-transactions
    image: postgres:15.2
    restart: unless-stopped
    environment:
      POSTGRES_DB: transactions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    expose:
      - 5432

  # MONGODB DATABASE FOR NOTIFICATIONS
  mongo-notifications:
    container_name: db-notifications
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: notifications
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root 
    ports:
      - 27018:27017
    expose:
      - 27017
    volumes:
      - db-notifications-data:/data/db

  # MONGODB DATABASE FOR LOGS
  mongo-logs:
    container_name: db-logs
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: logs
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - 27019:27017
    expose:
      - 27017
    volumes:
      - db-logs-data:/data/db

  # PGADMIN
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db-user
      - db-transactions

volumes:
  db-notifications-data:
  db-logs-data:
